#过滤
/Fate.Application/obj/
/Fate.Common/obj/
/Fate.Common.Ioc.Core/obj/
/Fate.Common.Redis/obj/
/Fate.Common.Repository.Mysql/obj/
/Fate.Domain/obj/
/Fate.Domain.Event/obj/
/Fate.Domain.Model/obj/
/Fate.IdentityServer4/obj/
/Fate.Test/obj/
/Fate.WebApi/obj/
/Fate.XUnitTest/obj/
/Fate.Application/bin/
/Fate.Common/bin/
/Fate.Common.Ioc.Core/bin/
/Fate.Common.Redis/bin/
/Fate.Common.Repository.Mysql/bin/
/Fate.Domain/bin/
/Fate.Domain.Event/bin/
/Fate.Domain.Model/bin/
/Fate.IdentityServer4/bin/
/Fate.Test/bin/
/Fate.WebApi/bin/
/Fate.XUnitTest/bin/
/.vs/
*.dll